/* MOBILE */
/* @media screen and (min-width: 576px) */

header{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

nav{
    grid-row: 2 / 3;
}

nav ul{
    display: none;
}

.tagline{
    display: none;
}

.fas.fa-hamburger.fa-3x{
    display: flex;
    justify-content: flex-end;
}

/* TABLET */
@media only screen and (min-width: 768px){

    #hamburger {
        display: none;
    }

    nav ul{
        display: inline;
        display: flex;
    }

    ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .last{
        grid-column: 1 / 3;
    }
}

@media only screen and (min-width: 1024px){

    .tagline{
        display: block;
    }

    ul li{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .last{
        grid-column: 3 / 4;
    }
}
